@import "./header";
.login {
  background-color: $textWhite;
  width: 100%;
  background-size: cover;
  .login__container {
    background-color: rgb(253, 73, 2);
    padding: 50px 0;
    .login__content {
      background-color: #fff;
      width: 450px;
      border-radius: 3px;
      .login__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 22px;
        }
        .login__QR-text {
          color: #ffbf00;
          border: 2px solid #ffbf00;
          padding: 11px 14px;
          font-weight: 700;
          margin: 0;
          cursor: pointer;
          background-color: #ffbf0017;
          &::after {
            position: absolute;
            content: "";
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 0.75rem;
            height: 0.75rem;
            -webkit-transform: rotate(45deg) translateX(-50%);
            transform: rotate(45deg) translateX(-50%);
            border-top: 2px solid #ffbf00;
            border-right: 2px solid #ffbf00;
            top: 13%;
            right: 6.24rem;
            background-color: #fff;
          }
        }
      }
      .login__forgot-container {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        a {
          text-decoration: none;
        }
        span {
          font-size: 13px;
        }
      }
      .login__text-or {
        display: flex;
        text-align: center;
        align-items: center;
        .login__text-through {
          height: 1px;
          width: 100%;
          background-color: #dbdbdb;
          flex: 1;
        }
        span {
          background-color: #fff;
          padding: 0 10px;
        }
      }
      .login__social-container {
        margin: 10px 0;
        display: flex;
        justify-content: space-evenly;
        .login__social-FB {
          cursor: pointer;
          display: flex;
          background-color: #1877f2;
          color: #fff;
          border-radius: 2px;
          align-items: center;
          p {
            margin: 0;
            padding: 0 5px;
          }
        }
      }
      .login__Register {
        text-align: center;
        color: #979797;
      }
    }
  }
}
