.adduser {
}

.adduser__container {
  background-color: rgb(247, 247, 247);
  width: 90%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.199);
}
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
